# Content Base Recommender

* Create TF-IDF Matrix

* Create Cosine-Similarity Matrix

* Making Recommendation Based on Similarities

* Process Functionalization

# Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
pd.set_option("display.width",500)
pd.set_option("display.expand_frame_repr",False)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Import Dataset

Dataset Link: You can download dataset this [link](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset)

In [2]:
# Dtype hatası almamak için low_memory False yaptık
df = pd.read_csv("movies_metadata.csv", low_memory=False)
df.head()

   adult                              belongs_to_collection    budget                                             genres                              homepage     id    imdb_id original_language               original_title                                           overview popularity                       poster_path                               production_companies                               production_countries release_date      revenue  runtime                                   spoken_languages    status                                            tagline                        title  video  vote_average  vote_count
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story    862  tt0114709                en                    Toy Story  Led by Woody, Andy's toys live happily in his ...  21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg     [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30  373554033.0     81.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                                                NaN                    Toy Story  False           7.7      5415.0
1  False                                                NaN  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...                                   NaN   8844  tt0113497                en                      Jumanji  When siblings Judy and Peter discover an encha...  17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released          Roll the dice and unleash the excitement!                      Jumanji  False           6.9      2413.0
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...                                   NaN  15602  tt0113228                en             Grumpier Old Men  A family wedding reignites the ancient feud be...    11.7129  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0    101.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Still Yelling. Still Fighting. Still Ready for...             Grumpier Old Men  False           6.5        92.0
3  False                                                NaN  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...                                   NaN  31357  tt0114885                en            Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...   3.859495  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg  [{'name': 'Twentieth Century Fox Film Corporat...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   81452156.0    127.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Friends are the people who let you be yourself...            Waiting to Exhale  False           6.1        34.0
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0                     [{'id': 35, 'name': 'Comedy'}]                                   NaN  11862  tt0113041                en  Father of the Bride Part II  Just when George Banks has recovered from his ...   8.387519  /e64sOI48hQXyru7naBFyssKFxVd.jpg  [{'name': 'Sandollar Productions', 'id': 5842}...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10   76578911.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Just When His World Is Back To Normal... He's ...  Father of the Bride Part II  False           5.7       173.0

In [3]:
df["overview"].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

# Data Preprocessing

In [4]:
df["overview"] = df["overview"].fillna('') # açıklaması olmayan filmlerin açıklmasını boş değerler ile değiştiriyoruz.
tfidf = TfidfVectorizer(stop_words="english") # ölçüm değeri taşımayan (örneğin in, and, or gibi) kelimleri çıkartmak.

# Create TF-IDF Matrix

In [5]:
tfidf_matrix = tfidf.fit_transform(df["overview"]) # tfidf matrisinin oluşturulması

In [6]:
tfidf_matrix.shape # 45466 tane film açıklaması var ve 75827 tane eşsiz geçen kelime var ve kesişimlerinde tfidf matrisi vardır.

(45466, 75827)

In [7]:
tfidf.get_feature_names_out()[1000:1100] # tfidf içerisinde bazı kelimeler

array(['abdel', 'abdelatif', 'abdelhakim', 'abdelilah', 'abdelkader',
       'abdicate', 'abdicated', 'abdicates', 'abdicating', 'abdication',
       'abdominal', 'abdou', 'abdu', 'abduct', 'abducted', 'abductee',
       'abducting', 'abduction', 'abductions', 'abductor', 'abductors',
       'abducts', 'abdul', 'abdullah', 'abdurrahman', 'abe', 'abedin',
       'abednego', 'abel', 'abelardo', 'aber', 'abercrombie', 'aberdeen',
       'abernathy', 'aberrations', 'abetment', 'abetted', 'abeyance',
       'abgewinnen', 'abha', 'abhalten', 'abhi', 'abhigyan', 'abhinav',
       'abhiram', 'abhisek', 'abhishek', 'abhisheki', 'abhorred',
       'abhorrent', 'abhors', 'abhrush', 'abhyankar', 'abi', 'abide',
       'abides', 'abiding', 'abie', 'abiff', 'abigail', 'abilene',
       'abilities', 'ability', 'abira', 'abitbol', 'abitur', 'abject',
       'abkhazia', 'abkoude', 'ablai', 'ablaze', 'ablaï', 'able',
       'ableman', 'abler', 'ably', 'abner', 'abney', 'abnormal', 'abo',
       'aboard', 'abobo', 'abode', 'abolish', 'abolished', 'abolition',
       'abolitionist', 'abominable', 'abomination', 'abominations',
       'aborig', 'aboriginal', 'aborigine', 'aborigines', 'aboriginies',
       'abort', 'aborted', 'abortion', 'abortionist', 'abortions'],
      dtype=object)

# Create Cosine-Similarity Matrix

In [8]:
cosine_sim = cosine_similarity(tfidf_matrix)

In [9]:
cosine_sim.shape

(45466, 45466)

In [10]:
cosine_sim[1]

array([0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
       0.00929411])

# Making Recommendation Based on Similarities

In [20]:
# veri setinde yani bulduğumuz sonuçlarda filmlerin isimleri yok hemen onu halledelim
indices = pd.Series(df.index, index=df["title"])

In [21]:
indices[0:5]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [22]:
# burada gördüğümüz üzere filmler çoğalmış durumdalar yani cosine_sim ile birleştirmek için tekilleştirmemiz gerekir.
indices.index.value_counts()[0:5]

Cinderella              11
Hamlet                   9
Alice in Wonderland      9
Beauty and the Beast     8
Les Misérables           8
Name: title, dtype: int64

In [24]:
indices["Hamlet"]

title
Hamlet     1360
Hamlet     1832
Hamlet     3476
Hamlet     3601
Hamlet    13313
Hamlet    16104
Hamlet    18061
Hamlet    18908
Hamlet    21239
dtype: int64

In [25]:
# burada duplicated metodunu kullanarak diyoruz ki en son filmi yani last'ı tut.
indices = indices[~indices.index.duplicated(keep='last')]

In [26]:
indices.index.value_counts()[0:5]

Toy Story                   1
Russell Madness             1
Attack of the Sabretooth    1
The Millennials             1
X/Y                         1
Name: title, dtype: int64

In [27]:
indices["Hamlet"]

21239

In [28]:
movie_index = indices["Hamlet"]

In [29]:
cosine_sim[movie_index]

array([0.        , 0.        , 0.        , ..., 0.        , 0.01029205,
       0.        ])

In [32]:
# okunurluğu yükseltmek için bir dataframe içerisinde score'ları tutuyorum
similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])

In [34]:
similarity_scores.head()

      score
0  0.000000
1  0.000000
2  0.000000
3  0.000000
4  0.016172

In [35]:
# önermek istediğimiz ilk 10 filmi score'ları sıralayarak bulabiliriz. Ayrıca sıfırıncı film kendisi olduğu için [1:11] başlatıyoruz.
movie_indices = similarity_scores.sort_values(by="score", ascending=False)[1:11].index

In [36]:
movie_indices

Int64Index([24642, 27360, 1360, 3601, 31270, 29122, 45120, 34031, 33772, 44173], dtype='int64')

In [38]:
# filmleri isimleri ile beraber önermek
df["title"].iloc[movie_indices]

24642                             Illusion of Blood
27360                          The Ghost of Yotsuya
1360                                         Hamlet
3601                                         Hamlet
31270                                Buried Secrets
29122    The Angel of Vengeance - The Female Hamlet
45120                             Water, Wind, Dust
34031                               Lonesome Ghosts
33772                                   Coming Soon
44173                            Ghost Recon: Alpha
Name: title, dtype: object

# Process Functionalization

In [66]:
def calculate_cosine_sim(dataframe, description_var, stop_words="english"):
    tfidf = TfidfVectorizer(stop_words=stop_words)
    dataframe[description_var] = dataframe[description_var].fillna('')
    tfidf_matrix = tfidf.fit_transform(dataframe[description_var])
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    return cosine_sim

In [67]:
def content_based_recommender(dataframe, title, cosine_sim):
    indices = pd.Series(dataframe.index, index=dataframe["title"])
    indices = indices[~indices.index.duplicated(keep='last')]
    movie_index = indices[title]
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])
    movie_indices = similarity_scores.sort_values(by="score", ascending=False)[1:11].index
    return dataframe["title"].iloc[movie_indices]

In [ ]:
cosine_sim = calculate_cosine_sim(df, "overview")

In [69]:
content_based_recommender(df, "Hamlet", cosine_sim)

24642                             Illusion of Blood
27360                          The Ghost of Yotsuya
1360                                         Hamlet
3601                                         Hamlet
31270                                Buried Secrets
29122    The Angel of Vengeance - The Female Hamlet
45120                             Water, Wind, Dust
34031                               Lonesome Ghosts
33772                                   Coming Soon
44173                            Ghost Recon: Alpha
Name: title, dtype: object